$primary-color: rgba(28, 32, 43, 1);
$secondry-color:rgba(10, 97, 247, 1);
$white-color:#fff;
$grey-color:rgba(101, 112, 133, 1);
$black-color:rgba(34, 34, 34, 1);
$primary-bg-color: rgba(254, 195, 62, 1);
$secondry-bg-color: rgba(10, 97, 247, 1);